header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 4em;
}

body {
    margin: 0;
}

form {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-wrap: wrap;
}

.evenSpacedFields {
    flex-grow: 1;
    width: 47.5%;
    height: 30px;
    margin: 5px;
}

textarea {
    width: 100%;
    margin: 5px;
}
