header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 4em;
}

body {
    margin: 0;
}

form {
    /* Set margins such that contact form fills middle of screen */
    margin-left: 25%;
    margin-right: 25%;
    /* Set flex properties such that the input fields fill the whole space of the form no matter what size it is */
    display: flex;
    flex-wrap: wrap;
}

.evenSpacedFields {
    /* Set flex properties to grow evenly with other fields in its lines */
    flex-grow: 1;
    width: 47.5%;
    height: 30px;
    margin: 5px;
}

textarea {
    width: 100%;
    margin: 5px;
}
